<!--<p>works</p>-->
<div>

<h2>  Tambah Data Baru </h2>

<form id = "formNewDataMhs" name = "formNewDataMhs">
  <label> NIM: </label><input type="text" name="nim" id="nim" placeholder="masukkan NIM"><br/>
  <label> Nama: </label><input type="text" name="nama_mhs" id="nama_mhs" placeholder="masukkan Nama"><br/>
  <label> Alamat: </label><input type="text" name="alamat_mhs" id="alamat_mhs" placeholder="masukkan alamat"><br/>
  <input type="submit" value = "Tambah Data">
</form>
</div>

<br>
